table {
    width: 100%;
}

td {
    height: 50px;
}

.buttonCell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}




// .noDataTable {
//     text-align: center;
//     font-style: italic;
// }

// table * {
//     // font-size: 14px;
// }

// table {
//     width: 100%;
// }


// .table__header {
//     text-align: left;
//     padding-bottom: 10px;
// }



// td {
//     padding-bottom: 20px;
// }


// .table__rows__instruments {
//     display: flex;
//     gap: 5px;
// }



// @media screen and (min-width: 480px) {

//     table * {
//         // font-size: 18px;
//     }
// }