.album {
    display: flex;
    flex-direction: column;

    &__photo {
        width: 200px;
        margin: 20px auto;
    }
}

@media screen and (min-width: 480px) {

    .album {
        flex-direction: row;
        width: 70%;
        margin: auto;
        flex-wrap: wrap;

        &__photo {
            width: 30%;
        }
    }
}