.band {
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__category {
        font-size: 24px;
        color: $main-color-grey;
        text-transform: uppercase;
        padding-bottom: 10px;

    }

    &__members {
        border-top: 1px solid rgb(150, 150, 150);
        padding: 15px 0px;
        width: 50%;
    }

    &__member {
        font-size: 18px;
        margin-bottom: 5px;
    }
}

