.mediasContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;

    &__card {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &__photo {
            width: 200px;
        }
    }
}

.mediasActionsContainer {
    display: none;

    &__button {
        width: 50%;
        font-size: 10px;
        padding: 5px;
        margin: 0px;
        cursor: pointer;
    }
}

.firstButton {
    background-color: $main-color-darkGrey;
}

.secondButton {
    background-color: $main-color-grey;
}

.mediasActionsContainer.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    position: absolute;
    background-color: rgba(87, 156, 56, 0.75);
    width: 200px;
    height: 100%;
}




@media screen and (min-width: 480px) {

    .mediasContainer {
        flex-direction: row;
        width: 80%;
        margin: auto;
        margin-bottom: 50px;

        &__card {
            width: 30%;
            margin: auto;

            &__photo {
                height: 200px;
                width: 100%;
            }
        }
    }


    .mediasActionsContainer__button {
        font-size: 16px;
    }


    .mediasActionsContainer.active {
        width: 100%;
        padding: 40px 20px;
    }
}