.form__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form__inputError {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    color: red;
}

.form__inputError label {
    font-style: italic;
    font-size: 12px;
    width: 100%;
}


.form__box input {
    width: 100%;
}

.form__checkbox {
    display: flex;
    gap: 5px;
    color: $main-color-grey;
}

.form__checkbox input {
    width: 30px;
    height: 20px;
}

.signUp p {
    color: $main-color-grey;
}

.signUp {

    &__link {
        color: $main-color-green;
    }

    &__cgu {
        font-size: 12px;
    }
}

@media screen and (min-width: 769px) {

    .signUp__connection {
        margin-bottom: 50px;
    }
}