.headerUsers {
    background-color: $main-color-green;
    padding: 40px 0px 10px 10px;
    font-size: 18px;


        &__title {
        margin: 0px;
    }
}








// .headerUsers {
//     
//     padding: 20px;
//     width: 85%;
//     position: absolute;
//     left: 15%;


// }