#usersPage {
    color: white;
}

#usersContent {
    width: 85%;
    margin: auto;
}

#box {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#box h3 {
    margin-bottom: 20px;
}