.headerUsers {
    background-color: $main-color-green;
    padding: 20px 0px 10px 10px;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;

    &__icons {
        align-self: self-end;
        margin-right: 5%;
        display: flex;
        gap: 20px;
    }

    &__icons .link {
        color: white;
        font-size: 26px;
    }

    &__title {
        margin: 0px;
        font-family: 'Patua One';
    }
}

@media screen and (min-width: 480px) {

    .headerUsers {
        padding: 20px;
        width: 80%;
        position: absolute;
        left: 20%;
    }
}