.form {
    border: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.add {
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.form input,
.form textarea,
.form select {
    border: 1px solid $main-color-green;
    background-color: rgb(235, 235, 235);
    font-size: 16px;
    padding-left: 10px;
    width: 100%;
    border-radius: 1px;
}

.form input,
.form select {
    height: 35px;
}

.form textarea {
    resize: vertical;
    padding-top: 5px;
    min-height: 150px;
    max-height: 300px;
}

.form select {
    color: rgb(122, 122, 122);
}

.form .downloadInput {
    background: none;
    border: none;
    display: none;
}

.label {
    color: $main-color-grey;
    font-family: "Patua One";
    font-size: 18px;
}

@media screen and (min-width: 1280px) {

    .form {

        &__box {
            flex-direction: row !important;
        }

        &__box input {
            width: 50%;
        }
    }
}