.form {
    border: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.form button, .button {
    cursor: pointer;
    padding: 10px 20px;
    width: fit-content;
    text-transform: uppercase;
    color: white;
    background-color: $main-color-green;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    font-family: 'Patua One';
    display: flex;
    justify-content: center;
    text-decoration: none;
}


.add {
    margin: auto;
    display: block;
}

.form input,
.form textarea,
.form select {
    border: 1px solid $main-color-green;
    background-color: rgb(235, 235, 235);
    font-size: 16px;
    padding-left: 10px;
    width: 100%;
    border-radius: 1px;
}

.form input,
.form select {
    height: 35px;
}

.form textarea {
    resize: vertical;
    padding-top: 5px;
    min-height: 150px;
    max-height: 300px;
}

.form select {
    color: rgb(122, 122, 122);
}

.form .downloadInput {
    background: none;
    border: none;
    display: none;
}


@media screen and (min-width: 1280px) {

    .form {

        &__box {
            flex-direction: row !important;
        }

        &__box input {
            width: 50%;
        }
    }
}