.modal {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &__mediasTitle {
        color: white;
        text-align: center;
        font-style: italic;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        &__button {
            background: none;
            border: none;
            font-size: 20px;
            color: $main-color-green;
            cursor: pointer;
        }

        &__title {
            font-size: 18px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__form input {
        width: 100%;
        margin-top: 10px;
        border: 1px solid $main-color-green;
        background-color: rgb(235, 235, 235);
        height: 30px;
    }

    &__form button {
        align-self: flex-end;
        cursor: pointer;
    }
}

.photoModal__button {
    align-self: flex-end;
    padding: 0px;
}

@media screen and (min-width: 480px) {

    .modal {
        // margin: 0px;

        &__medias {
            // margin: auto;
            // max-height: 460px;
            width: 75%;
            max-width: 650px;
            margin: 0 auto;
        }
    }
}