#category {
    text-align: center;
}

#category h2 {
    font-size: 26px;
}

#category h3 {
    font-size: 14px;
}

@media screen and (min-width: 480px) {
    #category h2 {
        font-size: 36px;
    }
    
    #category h3 {
        font-size: 18px;
    }
}