#category {
    text-align: center;
    margin-bottom: 40px;
}

#category h2 {
    font-size: 26px;
    color: $main-color-darkGrey;
    font-family: 'Patua One';
}

#category h3 {
    font-size: 14px;
    color: rgb(100, 100, 100);
    font-family: 'Patua One';
}

.pagePattern {
    margin: 0px 40px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-top: 1px solid $separator;
    text-align: justify;

    &__subheading {
        font-size: 20px;
        color: $main-color-darkGrey;
        font-family: 'Patua One';
        text-align: left;
    }
}

.usersPage {
    min-height: 500px;
}

@media screen and (min-width: 480px) {
    #category h2 {
        font-size: 36px;
    }

    #category h3 {
        font-size: 18px;
    }

    .pagePattern {
        width: 70%;
        margin: auto;
        padding: 40px 12%;
    }

    .usersPage {
        padding-top: 12%;
        padding-left: 20%;
        min-height: 500px;
    }
}